language: python
sudo: required
matrix:
  include:
    - os: linux
      dist: trusty
      python: 2.7
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - wget
            - git
            - libcurl4-openssl-dev
            - unzip
            - gcc-4.8
            - g++-4.8
            - cmake
            - gfortran

    - os: osx
      osx_image: xcode8
      language: generic

brefore_install: |
  if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      rvm get head --auto-dotfiles
      brew update;
      brew install python;
  fi

install:
  - pip install -U pip setuptools wheel
script:
  - source make_standalone_libmxnet.sh && source test_wheel.sh
deploy:
  provider: pypi
  user: phunter
  password:
    secure: eDvxxfR4uD+UWlLYv33Sb1GhYElynHMWfCxnbkblSU1jnpbYLTts+yygoQmiN1A3YB9lbwnjBRePoNhIk9gEC+X3RCE6SSEbkyXVK22h2nDHEOV18QXfVFKWyI4+hrZw/5zfn5bHgwKd+fuAY8ddIO8fE/KLwehtNypyBKHPr5rsMhOIQ7gabH1iiHUlYN9pZ9h5EvLBBBmOKyrD+8/muYMJX5OYbEPPww+OwJLvF/ndqXouTrB9ye35s0wBH3KI09pO5NuNV2O9Ud6yrXrNbaqTFRC9ZhuIUJOoUwatUzBTN0F5GBYCYPK5WKVLZSgtA91tv4SBRMWJdg0KCPXYNWmCkxU7E9+ln0MFVJmt3KfWHkOX2n6dj+3/8A6qnyZdUy9kIFeWJCaBOnedNw6pdr/ZDl8amjxRVfdUrkNNxxZmRZrlLzJGq08v6J2rvn+qcXC1KcRhMXNVqQ2MIN44kyefFQs8XiLwzLmDkETMzkdLHHbi4VkMDyBYT5+eC5CYo+MaWPL2+bEiWyJN8hC7GlzF5lkyY7e1uW+A0YI6OEwWF80XGmtUlbfC5rNrjhK8kKs9Az72R3jfbwQ3syKE1E4FCR64+qCVRkahoJ0YplDu0/VB2pLRnKz2Bb37B0ZBcaHWuxjy8wFKuhwbIoLyQkIO+fxDG+faQLPL7S2ZcW0=
  distributions: bdist_wheel
  on:
    tags: true
